<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= "siddhanth".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi est hic, voluptatum dolores, quod vitae aliquam quam dolor dicta ad non nisi error ex quia blanditiis at? Illum, corporis pariatur?</p>
    <button>Submit</button>
</body>
</html>